
/*Main*/

:root {
	--pink: #edc7b7;
	--white: #ffffff;
}

*, body {
	box-sizing: border-box;
	font-family: 'Quicksand', 'Roboto', sans-serif;
	background: var(--pink);
    
}

/*Navbar*/

.navbar {
    display: flex;
    justify-content: center;
    padding: 1px;
    text-transform: uppercase;
    text-decoration-line: none;
    border-bottom: 2px solid white;
}

.navbar p {
    display: flex;
    font-size: 31px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration-line: none;
}

/*Main Section*/

.main-section {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 3rem auto;
	margin-bottom: 2rem;
}

.calculator-container {
	max-width: 310px;
	width: 100%;
}

.calculator {
	border-radius: 1px;
}

.calculator .display {
	background: #212121;
	padding: 0.8rem;
	border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}

.display .calculator-display {
	width: 280px;
	border: 0px;
	background: #3B3B3B;
	border-radius: 1px;
    padding: 0.8rem;
    outline: none;
}

.calculator-display output {
	display: block;
	border: none;
	outline: none;
	background: transparent;
	width: 100%;
}

output#user-input {
	font-size: 1.225rem;
	font-weight: 400;
	text-align: left;
	color: #EEE2DC;
}

output#result {
	font-size: 1.625rem;
	font-weight: 500;
	text-align: right;
	color: var(--white);
}

.calculator .all-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    grid-gap: .5rem;
    padding: 1rem;
    background: #212121;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.all-buttons button {
    font-size: 1.325rem;
    padding: 1rem 0;
    font-weight: 700;
    background: #616161;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 1px;
    color: #DFDFDF;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

button.allclear {
    grid-column: 1 / 3;
	border-radius: 1px;
}

button.clear {
    grid-column: 3 / 5;
	border-radius: 1px;
}

button.equals {
	grid-column: 3 / 5;
	border-radius: 1px;
} 

.all-button .digits {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 1px;
    background-color: var(--button);
    font-size: 20px;
  }
  
  button.digits:hover,
  button.decimal:hover,
  button.operators:hover,
  button.bracket:hover{
    background-color: #ddd;
    color:#3B3B3B;
  }

  button.equals:hover {
    background-color: #edc7b7;
    color: #3B3B3B;
  }

  button.allclear:hover,
  button.clear:hover {
    background-color: #ac3b61;
  }
  
  button.digits:active,
  button.operators:active,
  button.decimal:active,
  button.bracket:hover {
	background-color: rgb(143, 143, 143);
    color:#3B3B3B;
 }   

 button.equals:active {
    background-color: #c9a493;
 }

  button.allclear:active,
  button.clear:active {
    background-color: #862948;
  }
  
  /* Disables input spinners in calc screen */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

/*Footer*/

.footer, a{
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding: 8px;
    text-decoration-line: none;
    border-top: 2px solid white;
}

a {
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover {
    color: #3B3B3B;
}